<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="CourseWorkConnectionString"
			 connectionString="Data Source=(LocalDB)\v11.0;AttachFilename
			 =|DataDirectory|\Database.mdf;Integrated Security = True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>